html {
  scroll-behavior: smooth;
  
}

body {
  margin: 0;
  font-family: Arial, sans-serif;

}

.App {
  text-align: center;
  background-color: rgb(26, 24, 24);
  color: white;
}

h1,h2,h3,h4{
  color: blueviolet;
}
